# OS / VCS / IDE
.DS_Store
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
*.bak
*.tmp
*.orig
*~
.project
.idea/
*.tmproj
.vscode/

# BIG dirs from web builds / package managers
node_modules/
dist/
build/
.out/
.next/
.nuxt/
.cache/
.parcel-cache/
coverage/
tmp/
public/build/
public/assets/
assets/
static/

# Archives & binaries
*.tgz
*.zip
*.tar
*.tar.gz
*.gz
*.7z
*.rar
*.iso
*.bin

# Media & large docs (keep only if truly required by templates)
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.pdf
*.mp4
*.mov


