fastapi
uvicorn[standard]
pymysql
apscheduler
certifi
requests
prometheus-fastapi-instrumentator
prometheus-fastapi-instrumentator
opentelemetry-distro
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-sdk
opentelemetry-exporter-otlp
deprecated
