server:
  service:
    type: NodePort
    nodePort: 32000
  persistentVolume:
    enabled: true
    storageClass: openebs-hostpath
    size: 8Gi
  extraFlags:
    - web.enable-lifecycle   

configmapReload:
  prometheus:
    extraArgs: {}

serverFiles:
  prometheus.yml:
   
    scrape_configs:
      - job_name: prometheus
        scrape_interval: 15s
        static_configs:
          - targets: ['localhost:9090']

      - job_name: kubernetes-cadvisor
        scrape_interval: 15s
        scheme: https
        metrics_path: /metrics/cadvisor
        kubernetes_sd_configs:
          - role: node
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        relabel_configs:
          - action: replace
            source_labels: [__meta_kubernetes_node_address_InternalIP]
            target_label: __address__
            regex: (.+)
            replacement: $1:10250
          - source_labels: [__meta_kubernetes_node_name]
            target_label: node

      - job_name: node-exporter
        scrape_interval: 15s
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - action: keep
            source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name]
            regex: prometheus-node-exporter
          - action: replace
            source_labels: [__meta_kubernetes_pod_ip]
            target_label: __address__
            replacement: $1:9100

      - job_name: kubernetes-pods
        scrape_interval: 15s
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - action: keep
            source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            regex: "true"
          - action: replace
            source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            target_label: __metrics_path__
            regex: (.+)
          - action: replace
            source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            target_label: __address__
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
          - action: replace
            source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - action: replace
            source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
